/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e8eaf6;
  font-family: arial;
}

a {
  text-decoration: none;
  color: #b71c1c;
  font-weight: bold;
}

a:hover {
  color: #ef5350;
}


#body div {
  /*border: 2px solid #424242;*/
  /*border-radius: 15px;*/
  text-align: center;
}
